name: Lint All

on: [ pull_request ]

permissions:
  contents: read

env:
  RUSTFLAGS: -C debuginfo=0

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "8"
          distribution: 'zulu'
          cache: 'sbt'

      - uses: sbt/setup-sbt@v1

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: "clippy, rustfmt"

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: native
          prefix-key: lint

      - name: Check all formatting
        run: |
          cargo install cargo-sort
          sbt fmtCheckAll

      - name: Check doc issues
        run: sbt makeSite
